<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "head.html" . }}
  <body class="list-body">
    {{ partial "nav-bar.html" . }}
    <main class="card-container side-gutter">
      <header class="list-header">
        <p class="list-header-subtext">
          </div>
          <div class="summary">
          {{ with .Description }}
  {{ $.Scratch.Set "summary" (markdownify .) }}
{{ else }}
  {{ $.Scratch.Set "summary"
    ((delimit (findRE "(<p.*?>.*?</p>\\s*)+" .Content) "[&hellip;] ") |
      plainify |
      truncate (default 200 .Site.Params.summary_length)
        (default " &hellip;" .Site.Params.text.truncated ) |
      replaceRE "&amp;" "&" | safeHTML) }}
{{ end }}
{{ $.Scratch.Get "summary" }}
</div>
</p>
        <h1 class="list-header-title">{{ .Title }}</h1>
      </header>
      {{ $paginator := .Paginate (where .Pages "Params.displayinlist" "!=" false) -}}
      {{- range $paginator.Pages -}}
        {{ .Render "li" }}
      {{- end }}
    </main>
    {{ if or ($paginator.HasPrev) ($paginator.HasNext) -}}
    <nav class="pagination-nav side-padding">
      {{ if $paginator.HasPrev }}<a href="{{ $paginator.Prev.URL }}" class="pagination-newer">&lt; Newer Posts</a>{{ end }}
      {{ if $paginator.HasNext }}<a href="{{ $paginator.Next.URL }}" class="pagination-older">Older Posts &gt;</a>{{ end }}
    </nav>
    {{ end -}}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>